/* styles.css */

html {
    background-color:bisque;
    scroll-behavior: smooth;
}

/* Default Font Family */
* {
    font-family: 'Lato', sans-serif;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 97vh;
}

.header{
    font-weight: bold;
    font-size: 40px;
}
.footer{
    margin-top: auto;
    font-weight: bold;
}
#calc_wrapper{
    background: darkgray;
    width: 50vh;
    height: 80vh;
    border-style: solid;
    margin: 50px;
    display:flex;
    flex-direction: column;
    border-radius: 8%;
    padding: 5px;
    align-items: center;
    min-height: 300px;
    min-width: 135px;
}
#calc_logo{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    font-size: 35px;
    font-weight:normal
}
#calc_display{
    background-color: white;
    text-align: center;
    width: 40vh;
    height: 10vh;
    border-radius: 5px;
    margin-left: 3vh;
    margin-right: 3vh;
    font-size: 25px;
    min-width: 120px;
    min-height: 30px;
}
#calc_buttons_wrapper{
    border-style: solid;
    margin: 3vh;
    height: 60vh;
    width: 40vh;
    display: flex;
    flex-flow: row wrap;
    min-height: 200px;
    min-width: 120px;
}
#clear{
    flex: auto;
}
#calc_buttons_wrapper button{
    width: 10vh;
    min-width: 30px;
}
.calc_button{
    font-size: 25px;
}